/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

/* Page style ------*/
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
.about-tools ul li, .contact-social-icons ul a li {
  text-align: center; }

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

html {
  position: relative;
  height: 100%; }

img {
  width: 100%; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  color: #202423; }

p {
  font-family: "Quattrocento", sans-serif;
  color: #f0f0e6; }

body {
  height: 100%;
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  background-color: #a2b0ae;
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.btn:focus, a:focus {
  outline: none !important; }

body > .container-fluid{
  padding: 60px 15px 0;
}

.container-fluid .text-muted{
  margin:  20px 0;
}

/*----- End page style ------*/


/*------- navbar starts------*/

.navbar {
  height: 70px;
  background-color: transparent;
  background: transparent;
  border: none;
  color: #f0f0e6;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
  transition: background-color 1s ease 0s; }

.navbar-brand {
  display: none;
  margin-top: 10px;
  color: #f0f0e6;
  font-weight: 400; }

.navbar-default .navbar-nav > li > a {
  color: #f0f0e6;
  font-weight: 500;
  font-size: 1em;
  text-transform: lowercase;
  margin: 10px 5px 5px 5px;
  border-radius: 5px; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #f0f0e6;
  border: 1px solid #f0f0e6; }
.navbar-default .navbar-nav > li > a:visited {
  color: #f0f0e6;
  text-decoration: none; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #f0f0e6; }
.navbar-default .navbar-toggle {
  border-color: #f0f0e6; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #202423; }
  .navbar-default .navbar-toggle .icon-bar {
    color: #f0f0e6;
    background-color: #f0f0e6; }
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: #202423; }

/*----- end navbar ------*/

/* ------ cover -------*/
.cover {
  padding: 10% 0 10% 0; }
.cover.top {
    padding: 15% 0 10% 0;
    height: 100vh;
    display: flex;
    background-color: #a2b0ae; }
  .cover.bottom {
    padding: 10% 0 10% 0; }


/* ------ End cover ------*/

/* ----------About me---------*/
#about {
  background-color: #202423; }
#about h2 {
    color: #a2b0ae; }
.profile-img {
  margin-bottom: 15px;
  width: 120px; }

.crow{
  margin-top: 20%;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;}

.about-tools {
    padding-top: 2.375em;
    font-weight: 700;
    font-size: 1.5em; }
.about-tools ul {
      color: #a2b0ae ;
      list-style: none; }
  .about-tools ul li {
        padding-top: 0.75em; }
.about, .about-info, .about-tools, .about-last {
  font-size: 1.25em; }
  #scrollIcon, #scrollTopIcon {
  margin-top: 200px;
  padding: 10px;
  font-size: 1.5em;
  color: #202423;
  border: solid 2px #202423;
  border-radius: 50%; }
/* ------- about me ends -------*/

/*-------Portfolio--------*/

#portfolio {
  background-color: #a2b0ae; }
  #portfolio h2 {
    padding-bottom: 1.25em; }

@media screen and (min-width: 768px) {
  .portfolio-projects {
    margin-top: 0.625em; } }
.portfolio-projects--title {
  margin-top: 0.9375em; }
  @media screen and (min-width: 768px) {
    .portfolio-projects--title {
      margin-top: 20%; } }
  @media screen and (min-width: 1200px) {
    .portfolio-projects--title {
      margin-top: 5%; } }
@media screen and (min-width: 768px) {
  .portfolio-projects--desc {
    margin-top: 10%;
    margin-bottom: 10%; } }
.portfolio-projects--btn {
  background: transparent;
  color: #202423;
  border: 1px solid #202423;
  border-radius: 5px;
  margin-bottom: 1.25em; }
  .portfolio-projects--btn:hover {
    background: #202423;
    color: #f0f0e6; }
.portfolio-projects--image {
  margin-bottom: 1.875em;
  padding-top: 5%; }


/*------ End Portfolio------*/

/* ------Icon style-------*/

  #scrollTopIcon {
  margin-top: 10px;
  font-size: 1em;
  color: #f0f0e6;
  border-color: #f0f0e6; }
  #scroli {
  margin-top: 50px;
  padding: 10px;
  font-size: 1.5em;
  color: #202423;
  border: solid 2px #202423;
  border-radius: 50%; }

  @import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
.about-tools ul li, .contact-social-icons ul a li {
  text-align: center; }
/*-------End Icon style -------*/


/*--------Contact ----------*/
#contact {
  background-color: #202423; }
  #contact h2 {
    color: #a2b0ae; }

.contact-social-icons p {
  color: #a2b0ae; }
.contact-social-icons ul a {
  color: #a2b0ae;
  list-style: none; }
  .contact-social-icons ul a:hover {
    color: #f0f0e6; }
  .contact-social-icons ul a li {
    display: inline-block;
    padding: 2%; }


/*---------End Contact------*/

/*------Footer-------*/
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #202423;
  color: #f0f0e6; }


/*------End Footer---*/

/*----- About Page Style ----*/
.link-nav {
  margin-top: 10px;
  margin-bottom: 0px;
}

.about-content {
  margin-top: 70px;
  padding: 90px 0px;
  text-align: center;
}

@media (max-width: 767px) {
  .about-content {
    margin-top: 70px;
  }
}

.about-content h1 {
  font-size: 48px;
  font-weight: 600;
}

.about-content a {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.about-content .lnr {
  margin: 0px 10px;
  font-weight: 600;
}

/*-- about Page Style end --*/
/*--------- Start Services Area -------------*/
.single-services {
  text-align: center;
  margin-top: 60px;
}

.single-services .lnr {
  font-size: 35px;
  color: #a2b0ae;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-services h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #a2b0ae
}

.single-services p {
  max-width: 318px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.single-services:hover h4 {
  color: #8490ff;
}

.drow{

  margin-top: 5%;
  padding: 4% 10% 1% 10%;

}

/*--------- End Services Area -------------*/

/* ----- Time line -------*/

.timeline ul li {
  background: #e4edec;
  position: relative;
  margin: 0 auto;
  width: 2px;
  padding-bottom: 40px;
  list-style-type: none;
}

.timeline ul li:last-child {
  padding-bottom: 7px;
}

.timeline ul li:before {
  content: '';
  background: #8490ff;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.timeline ul li .hidden {
  opacity: 0;
}

.timeline ul li .content {
  background-color: #e4edec !important;
  box-shadow: 0px 10px 27px 3px rgba(204, 204, 204, 0.2);
  position: relative;
  top: 7px;
  width: 360px;
  padding: 30px;
}

.timeline ul li .content h4 {
  padding-bottom: 10px;
  text-align: center;
}

.timeline ul li .content p {
  text-align: center;
  margin-bottom: 5px;
  color: #202423
}

.timeline ul li .content p b {
  color: #202423;
}

.timeline ul li:nth-child(odd) .content {
  left: 50px;
}

.timeline ul li:nth-child(odd) .content:before {
  left: -38px;
}

.timeline ul li:nth-child(even) .content {
  left: calc(-360px - 45px);
}

.timeline ul li:nth-child(even) .content:before {
  right: -38px;
}
/* ------------ end timeline ------------*/

@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 41vw;
  }
  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 45px);
  }
}

@media screen and (max-width: 700px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li .content {
    width: calc(100vw - 100px);
  }
  .timeline ul li .content h2 {
    text-align: initial;
  }
  .timeline ul li:nth-child(even) .content {
    left: 45px;
  }
  .timeline ul li:nth-child(even) .content:before {
    left: -33px;
  }
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
/* ---- End Time line ---*/
.back-to-top {
  display: none; }
  .back-to-top.visible {
    display: block; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
